<H5>RICK&MORTYCARD</H5>
<p></p>
<button (click)="getRandomPersonnage()" [disabled]="compteurActif" class="card-button">Je veux une carte de
    personnage</button>
<p></p>
<p class="decompte" *ngIf="compteurActif">Une nouvelle carte peut être générée dans : {{ compteurAffiche }}</p>

<div *ngIf="personnagesToDisplay" class="card">
    <img [src]="personnagesToDisplay.image" alt="personnage image" class="image">
    <div class="card-info">
        <h1>Mon personnage: {{personnagesToDisplay.name}}</h1>
        <h1>Son numéro: {{personnagesToDisplay.id}}</h1>
        <h1>Son espèce: {{personnagesToDisplay.species}}</h1>
        <h1>Son état: {{personnagesToDisplay.status}}</h1>
    </div>
</div>
